<style>

.announcement-bar-section {
  margin-bottom: 0.5rem;
}

.announcement-bar {
  border-bottom: none;
}

@media only screen and (max-width: 749px){
  .announcement-bar__message.h1.countdown { 
    font-size: 20px !important;
    line-height: 24px;
  }
  .announcement-bar__message.h3.countdown {
    font-size: 16px !important
    line-height: 19px;
  }

  .announcement-bar__message.h5.countdown { 
    font-size: 13px !important;
    line-height: 15px;
  }
}
</style>

<div class="announcement-bar gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'announcement' -%}
        {%- render 'announcement-bar-content',
          blockType:'announcement',
          textField:block.settings.text,
          linkField:block.settings.link,
          alignment:block.settings.text_alignment,
          shopify:block.shopify_attributes,
          colorScheme:block.settings.color_scheme,
          attributes:block.id
        -%}

      {%- when 'countdown' -%}
      <count-down-timer>
        {%- render 'announcement-bar-content',
          blockType:'countdown',
          textField:block.settings.text,
          linkField:block.settings.link_1,
          alignment:block.settings.text_alignment_1,
          shopify:block.shopify_attributes,
          attributes:block.id,
          colorScheme:block.settings.color_scheme_1,
          counter:block.settings.counter_1,
          disableLink:block.settings.disable_link,
          countdown_complete_message:block.settings.countdown_complete_message,
          heading_size:block.settings.heading_size,
          days_indicator:block.settings.days_indicator,
          hours_indicator:block.settings.hours_indicator,
          minutes_indicator:block.settings.minutes_indicator,
          seconds_indicator:block.settings.seconds_indicator
        -%}
        </count-down-timer>
    {%- endcase -%}
  {%- endfor -%}
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {

  class CountDownTimer extends HTMLElement {
    timer;

    constructor() {
      super();

      this.timer = Array();
      this.blockCounter = 0;
      this.countDownTimer();
    }

    countDownTimer() {
      var blockId;
      var countDown;

      // Find all the count down nodes
      var countDownDiv = document.querySelectorAll("[data-block-identifier*='countdown']");
      for (var countDownBlock = 0; countDownBlock < countDownDiv.length; countDownBlock++) {
        blockId = countDownDiv[countDownBlock].dataset.blockIdentifier.split(",")[0].trim();

        if (countDownDiv[countDownBlock].nodeName === "P") {
          countDown=countDownDiv[countDownBlock].dataset.countdown;
        } else {
          // countDownNode.nodeName === "A"
          countDown=countDownDiv[countDownBlock].dataset.countdown;
        }

      // Calcualte the date and error check format
        var countDownDate = new Date(countDown).getTime();

        if (countDown.match(/^[a-zA-Z]{3} [\d]{1,2}, [0-9]{4} [0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2} [a-zA-Z]{3}/) === null) {
          this.timerMessage(countDownDiv[countDownBlock], blockId, "Invalid date/time format", "error");
          continue
        } else {
          if (countDownDate - new Date().getTime()  < 0) {
            // Timer has completed. Move along
            this.timerMessage(countDownDiv[countDownBlock], blockId, countDownDiv[countDownBlock].dataset.countdowncompletemessage);
            continue;
          }
        }

        if (isNaN(countDownDate) && countDown.trim() !== "") {
          this.timerMessage(countDownDiv[countDownBlock], blockId, "Invalid format date/time", "error");
        } else if (countDown.trim() !== "") {
          this.startTimer(countDownDiv[countDownBlock], blockId, countDownDate, countDownBlock);
          this.blockCounter++;
        }
      }
    }

    timerMessage(countDownNode, blockId, message, error) {
      if (error) {
        countDownNode.innerHTML = `<${countDownNode.dataset.heading_size} class="announcement-bar__message ${countDownNode.dataset.heading_size} countdown" style="color:#ff0000;background-color:#ffffff;"> ${message}</${countDownNode.dataset.heading_size}>`;
      } else {
        countDownNode.innerHTML = ` ${message} `;
        if (countDownNode.dataset.disablelink == "true") {
          console.log("Removing link")
          countDownNode.href="#";
        }
      }
    }

    startTimer(countDownNode, blockId, countDownDate, blockCounter) {
      var daysNode = countDownNode.querySelector("#countdown-days");
      var hoursNode = countDownNode.querySelector("#countdown-hours");
      var minutesNode = countDownNode.querySelector("#countdown-minutes");
      var secondsNode = countDownNode.querySelector("#countdown-seconds");
      var timeleft;
      var intervalTimer;

        this.timer[blockCounter] = setInterval(() => {
        var now = new Date().getTime();
        timeleft = countDownDate - now;

        daysNode.innerHTML = `${Math.floor(timeleft / (1000 * 60 * 60 * 24))}${countDownNode.dataset.days_indicator}` ;
        hoursNode.innerHTML = `${Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))}${countDownNode.dataset.hours_indicator}` ;
        minutesNode.innerHTML = `${Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60))}${countDownNode.dataset.minutes_indicator}` ;
        secondsNode.innerHTML = `${Math.floor((timeleft % (1000 * 60)) / 1000)}${countDownNode.dataset.seconds_indicator}` ;
        
        if (timeleft < 0) {
          clearInterval(this.timer[blockCounter]);
          this.timerMessage(countDownNode, blockId, countDownNode.dataset.countdowncompletemessage);
          return
        }
      }, 1000);
    }
  }
  customElements.define('count-down-timer', CountDownTimer);
});

</script>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "Count Down Timer",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h5",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h5",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "text_alignment_1",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme_1",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "paragraph",
          "content": "Date format"
        },
        {
          "type": "paragraph",
          "content": "Mo Day, Year Hours:Minutes:Seconds TZ"
        },
        {
          "type": "paragraph",
          "content": "Mar 23, 2023 23:59:00 EST"
        },
        {
          "type": "paragraph",
          "content": "Mar 23, 23:59:00 GMT-0700"
        },
        {
          "type": "text",
          "id": "counter_1",
          "label": "Count Down Date"
        },
        {
          "type": "text",
          "id": "days_indicator",
          "label": "Count down display indicator for days",
          "default": "d"
        },
        {
          "type": "text",
          "id": "hours_indicator",
          "label": "Count down display indicator for hours",
          "default": "h"
        },
        {
          "type": "text",
          "id": "minutes_indicator",
          "label": "Count down display indicator for minutes",
          "default": "m"
        },
        {
          "type": "text",
          "id": "seconds_indicator",
          "label": "Count down display indicator for seconds",
          "default": "s"
        },
        {
          "type": "text",
          "id": "countdown_complete_message",
          "label": "Count Down Complete Message",
          "default": "The deal has ended"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "disable_link",
          "label": "Once count down completes disable link"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
